@keyframes floatBackground {
  0% {
    background-position: center -100px;
  }
  50% {
    background-position: center -80px;
  }
  100% {
    background-position: center -100px;
  }
}

@keyframes floatBackground-max-600 {
  0% {
    background-position: center -60px;
  }
  50% {
    background-position: center -40px;
  }
  100% {
    background-position: center -60px;
  }
}

@keyframes floatImageContact {
  0% {
    background-position: center 60px;
  }
  50% {
    background-position: center 50px;
  }
  100% {
    background-position: center 60px;
  }
}

@keyframes floatImageContact-max-600 {
  0% {
    background-position: center -30px;
  }
  50% {
    background-position: center -20px;
  }
  100% {
    background-position: center -30px;
  }
}

@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}

@keyframes fly {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  30% {
    transform: translateX(30px) translateY(-5px) rotate(-15deg); /* Avança e inclina um pouco */
  }
  60% {
    transform: translateX(80px) translateY(-20px) rotate(-10deg); /* Continua subindo */
  }
  100% {
    transform: translateX(300px) translateY(-50px) rotate(-10deg); /* Sobe suavemente e endireita */
  }
}

@keyframes showing {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fly-send-loading {
  0% {
    transform: translateY(5px) rotate(-45deg);
  }
  50% {
    transform: translateY(0px) rotate(-45deg);
  }
  100% {
    transform: translateY(5px) rotate(-45deg);
  }
}

@keyframes growing {
  0% {
    height: 5px;
  }
  25% {
    height: 10px;
  }
  50% {
    height: 20px;
  }
  75% {
    height: 30px;
  }
  100% {
    height: 40px;
  }
}

@keyframes line-trace-1 {
  0% {
    opacity: 0;
    transform: translateX(20px) translateY(-15px) rotate(-32deg);
  }
  100% {
    transform: translateX(-50px) translateY(40px) rotate(-32deg);
  }
}

@keyframes line-trace-2 {
  0% {
    opacity: 0;
    transform: translateX(20px) translateY(-15px) rotate(-37deg);
  }
  100% {
    transform: translateX(-50px) translateY(40px) rotate(-35deg);
  }
}

@keyframes line-trace-3 {
  0% {
    opacity: 0;
    transform: translateX(20px) translateY(-15px) rotate(-38deg);
  }
  100% {
    transform: translateX(-50px) translateY(40px) rotate(-38deg);
  }
}

@keyframes showing-page {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}